{% with messages = get_flashed_messages() %}
	{% if messages %}
		<script>alert("{{messages[-1]}}")</script>
	{%endif%}
{%endwith%}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=600px">
	<title>사고 과실 비율 분석</title>
</head>
<body>
	<header style="width:60%; margin:auto; background-color: green;">
	<nav style="font-size:20pt; font-weight:bold; ">
	<ul style="list-style:none;">
		<li style="float:left;">
		<a href='/' style="padding-right:400px">사고 과실 비율 분석 AI</a>
		<a href='/submit' style="padding-right:80px">영상 제출</a>
		<a href='/info'>회원 정보</a>
		</li>
	</ul>
	</nav>
	</header>
	<main>
	<div style="width:60%; margin:auto; display:grid; grid-template-columns: 70% 30%; padding-top:80px; text-align: center;">
		<div class="introduction-box">
		<h3 style="text-align:left;">서비스 소개</h3>
		<img src="usecase.png" alt="usecase diagram">
		</div>
		<div>
		<div class="login-box" style="background-color:gray;">
		{%if userid%}
			{%if userid == "admin" %}
				<br><br> 관리자님 환영합니다 <br><br><button type="button" onclick="location.href='/admin'">관리자페이지로 이동</button><button type="button" onclick="location.href='/logout' ">로그아웃</button>
			{%else%}
				<br><br>{{userid}}님 환영합니다<br><br><button type="button" onclick="location.href='/logout' ">로그아웃</button>
			{%endif%}
		{%else%}
			<form method="POST" action="/login" enctype="multipart/form-data"><br><br>
				아이디 <input type="text" name="id"><br><br>
				비밀번호 <input type="password" name="pw"><br><br>
				<input type="submit" value="로그인">
				<input type="button" value="회원가입" onClick="location.href='/registerpage'">
			</form>
		{%endif%}
		</div>
		</div>
	</div>
	</main>
</body>
</html>
